.obj.StoryNode {
  color: #fff;
  background-color: #004455;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 7px;
}

.storynode.htmlcontainer {
  text-align: center;
}

.storynode.text {
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.storynode.optionbutton {
  font-family: monaco;
  display: inline-block;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
  color: #004455;
  font-size: 14px;
}